.sponsoredjs-content {
  display: none;
}

.sponsoredjs-ad-link {
  display: flex;
  margin-bottom: 10px;
}

.sponsoredjs-img {
  height: 50px;
  margin-right: 10px;
  order: 1;
}

.sponsoredjs-text {
  margin-bottom: auto;
  margin-top: auto;
  order: 2;
}

.sponsoredjs-continue {
  display: block;
  text-align: center;
}
